:root {
    --light-grey-bg: #F8F8F8;
    --card-bg: #FFFFFF;
    --border-color: #E0E0E0;
    --text-dark: #333333;
    --text-medium: #666666;
    --text-light: #999999;
    --accent-orange: #FF8C00;
    --button-bg: #4A6EAA;
    --success-green: #4CAF50;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: var(--light-grey-bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;

}

.volver {
    font-size: 1.5em;
    color: var(--text-dark);
    text-decoration: none;
    margin-right: 20px;
}

.ordenes {
    padding: 20px;
    flex-grow: 1;
}

.card {
    background-color: var(--card-bg);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.current-order {
    padding: 20px;
}

.pedido {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.fruta{
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: contain;
    margin-right: 15px;
}



.order-id {
    color: var(--text-light);
    font-size: 0.8em;
    white-space: nowrap;
}




.boton-succes {
    background-color: var(--success-green);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.75em;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}


 
 
