body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.main-header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.header h3 {
    color: var(--text-dark);
    text-align: center;
}

.fa{

    color: #F9B023;
}


.pagina-productos {
    background-color: white;
    padding: 0;
    width: 100vh;
}


.seccion-filtros{
    width: 100%;
}

.filtro-boton {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 20px;
}

.iconos-derecha {
    display: flex;
    gap: 20px;
}


.icono-carrito {
    display: flex;
    align-items: center;
}

.icono-buscador {
    display: flex;
    align-items: center;
}



.filtro-boton-color {
    background-color:  #F9B023;;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 20px;
}


.top-bar{

    background-color: #7a7373;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 20px;
}


h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}


.cuadricula-productos {
    display: flex; 
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;
}

.tarjeta-producto img {
    max-width: 130px;
    height: 130px;
    object-fit: contain;
    margin-bottom: 10px;
}

.nombre-producto {
    font-size: 12px;
    color: #333;
    margin-top: 0;
    margin-bottom: 5px;
}

.precio-producto {
    font-size: 15px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 5px;
}



 
