body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}


.pagina-productos {
    background-color: white;
    padding: 0;
    width: 100vh;
}

.filtro-boton {
    background-color: white;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 20px;
}


.filtro-boton-color {
    background-color:  #F9B023;;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 20px;
}
.tob-bar{

    background-color: #7a7373;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 20px;
}


h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}


.cuadricula-productos {
    display: flex; 
    flex-wrap: wrap;
    gap: 40px;
    padding: 0;
}

.tarjeta-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 32px;
    margin-top: 20px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;
}

.tarjeta-producto img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.nombre-producto {
    font-size: 12px;
    color: #333;
    margin-top: 0;
    margin-bottom: 5px;
}

.precio-producto {
    font-size: 15px;
    font-weight: bold;
    color: #ff4500;
    margin-bottom: 5px;
}



 
