body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #FF9933;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

  h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }

 
